extends layout

block content
  #main
    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/toslove_viole') トスラブ箱根 ビオーレ
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/toslove_viole/index.html')
            img(src=images[0].url)
      .col
        include partials/toslove_viole

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/toslove_wasorin') トスラブ箱根 和奏林
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/toslove_wasorin/index.html')
            img(src=images[1].url)
      .col
        include partials/toslove_wasorin

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/toslove_luana') トスラブ館山 ルアーナ
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/toslove_luana/index.html')
            img(src=images[2].url)
      .col
        include partials/toslove_luana

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/toslove_yuzawa') トスラブ湯沢
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/toslove_yuzawa/index.html')
            img(src=images[3].url)
      .col
        include partials/toslove_yuzawa

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/nakazawa') 中沢ヴィレッジ
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/nakazawa.html')
            img(src=images[4].url)
      .col
        include partials/nakazawa

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/katsuura') ブルーベリーヒル勝浦
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/katsuura.html')
            img(src=images[5].url)
      .col
        include partials/katsuura

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/biwako') 琵琶レイクオーツカ
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/biwako.html')
            img(src=images[6].url)
      .col
        include partials/biwako

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/nasu') ホテルハーヴェスト那須
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/nasu.html')
            img(src=images[7].url)
      .col
        include partials/nasu

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/ito') ホテルハーヴェスト伊東
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/ito.html')
            img(src=images[8].url)
      .col
        include partials/ito

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/katsuyama') ホテルハーヴェスト　スキージャム勝山
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/katsuyama.html')
            img(src=images[9].url)
      .col
        include partials/katsuyama

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/nanki') ホテルハーヴェスト南紀田辺
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/nanki.html')
            img(src=images[10].url)
      .col
        include partials/nanki

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/madarao') ホテルハーヴェスト斑尾
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/madarao.html')
            img(src=images[11].url)
      .col
        include partials/madarao

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/kyoto') ホテル日航プリンセス京都
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/kyoto.html')
            img(src=images[12].url)
      .col
        include partials/kyoto

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/tateshina') リゾートホテル蓼科
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/tateshina.html')
            img(src=images[13].url)
      .col
        include partials/tateshina

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/kyukaruizawa') ホテルハーヴェスト 旧軽井沢
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/kyukaruizawa.html')
            img(src=images[14].url)
      .col
        include partials/kyukaruizawa

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/kamakura') 鎌倉パークホテル
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/kamakura.html')
            img(src=images[15].url)
      .col
        include partials/kamakura

    .row(style='margin-top: 50px;')
      .col
        h2
          a(href='/hotels/iwaya') 角間温泉　岩屋館
    .row(style='margin-top: 30px;')
      .col
        figure
          a(href='http://www.its-kenpo.or.jp/shisetsu/hoyou/chokuei/iwaya.html')
            img(src=images[16].url)
      .col
        include partials/iwaya
