extends layout

block content

  include header

  #main
    .row
      .col
        #hotel-title
          h2
            a(href=hotel.path) #{hotel.name}

    .row
      .col
        #hote-image
          figure
            a(href=hotel.url)
              img(src=hotel.image.url)
      .col
        #hotel-description
          != html

    .row
      .col
        #reservation(style="padding-top: 20px; text-align: center")
          a.button.primary.outline.big(href=hotel.url role='button' target='_blank') この施設の詳細を見る
